:root
  font-family Helvetica, sans-serif
  font-size 17px
  line-height 20px

h1
  font-size 35px
  line-height 38px
  font-family 'Alfa Slab One', cursive;
  font-weight 400

h2
  @extend h1
  font-size 30px
  line-height 33px

h3
  @extend h1
  font-size 25px
  line-height 28px

h4
  @extend h1
  font-size 20px
  line-height 23px

h5
  @extend h1
  font-size 18px
  line-height 21px

h6
  @extend h1
  font-size 16px
  line-height 19px

.caption
  font-size 12px
  line-height 15px

a
  text-decoration underline
  &:not(:disabled)
    cursor pointer

* + p
  margin-top 10px

mapboxgl-map
  overflow hidden